#sidebar {
	width: 15%;
	height: 650px;
	display: inline-block;
	float: left;
	background-color: black;
	border: 2px black solid;
	text-align: center;
}

#scoreboard {
	color:white;
}

.avatar {
	border-radius: 100%;
	border: 2px red solid;
}

.game_container {
	display: inline-block;
}

.sidebar-head {
	color:white;
}

.sidebar-button {
	color:white;
	text-decoration: none;
}

.sidebar-button:hover {
	color:red;
}

#start {
	height: 50px;
	width:50px;
	background-image: url('/imgs/fallspace/launch-button.png');
	background-size:50px 50px;
	margin: auto;
}

.leaderboard_container {
	display: inline-block;
}

.profile_container {
	display: inline-block;
}

.ranking_container {
	display: inline-block;
}

.sidebar-text {
	color:white;
}
/*
#login {
	color:white;
}*/
