#gameboard {
	height: 600px;
	width: 800px;
	border: black 2px solid;
	background-image: url('/imgs/fallspace/spaceboard.png');
	background-size: 1024px 600px;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}

.faller {
	position: absolute;
	height: 40px;
	width: 40px;
	background-image: url('/imgs/fallspace/spacestation.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

.badguy {
	position: absolute;
	height: 40px;
	width: 40px;
	background-image: url('/imgs/fallspace/badthings/badguy1.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

.userorb {
	background-image: url('/imgs/fallspace/orb.png');
	background-size: 10px 10px;
	background-repeat: no-repeat;
	height: 10px;
	width: 10px;
	position: absolute;
}

.enemyorb {
	background-image: url('/imgs/fallspace/badthings/enemyorb.png');
	background-size: 10px 10px;
	background-repeat: no-repeat;
	height: 10px;
	width: 10px;
	position: absolute;
}

.asteroid {
	background-image: url('/imgs/fallspace/asteroid.png');
	background-size: 25px 25px;
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
	position: absolute;
}

.wall {
	background-image: url('/imgs/fallspace/wall.gif');
	background-size: 32px 32px;
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	position: absolute;
}

#scoreboard {
	display: inline-block;
}
