<div class="game_container">
	<div id="gameboard">
	</div>
</div>

<script src="/js/fallspace/controller.js"></script>
<script src="/js/fallspace/faller.js"></script>
<script src="/js/fallspace/badguys.js"></script>
<script src="/js/fallspace/userweapon.js"></script>
<script src="/js/fallspace/enemyweapon.js"></script>
<script src="/js/fallspace/asteroids.js"></script>
<script src="/js/fallspace/barricades.js"></script>
<script src="/js/fallspace/fallspace.js"></script>
