<div class="game_container">
  <div id="field">
  </div>
</div>

<script src="/js/footballurrito/application.js"></script>
<script src="/js/footballurrito/player.js"></script>
<script src="/js/footballurrito/opponent.js"></script>
<script src="/js/footballurrito/footballurrito.js"></script>
<script src="/js/footballurrito/burrito.js"></script>
