<html>

	<head>
		<title>FallSpace</title>
		<link href="./public/css/fallways.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div id="gameboard">
		</div>
		<p>Current Score: <span id="timer">0</span></p>
		<button id='reset' type='button'>Replay</button>
	</body>

</html>