<html>

	<body>
		<div id="game_container">
			<div id="gameboard"></div>

			<div id="scoreboard">
				<p>Current Score: <span id="timer">0</span></p>
				<p>Enemy Kills: <span id="enemykills">0</span></p>
				<p>Asteroids Destroyed: <span id="asteroidkills">0</span></p>
				<p>Walls Destroyed: <span id="wallkills">0</span></p>
				<input type="submit" id="reset" value="Reset">
			</div>
		</div>
	</body>

</html>