<html>

	<body>
		<div id="gameboard">
		</div>
		<div id="scoreboard">
			<p>Current Score: <span id="timer">0</span></p>
			<p>Bad guys killed: <span id="enemyKills">0</span></p>
			<p>Asteroids destroyed: <span id="asteroidKills">0</span></p>
			<p>Walls destroyed: <span id="wallKills">0</span></p>
			<button id='reset' type='button'>Replay</button>
		</div>
	</body>

</html>